@use "../../variabels.scss" as v;

.question-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.8rem;
  color: v.$primary-black;
  width: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subtes {
      padding: 1.2rem 2.4rem;
      border-radius: 1rem;
      color: v.$white;
      background-color: v.$primary-blue;
    }
  }

  .question-answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        padding: 2rem;
        border: 1px solid v.$navbar-blue;
        border-radius: 1.5rem;

        display: block;
        padding-left: 6rem;
        text-indent: -3.5rem;

        &.active {
          background-color: v.$primary-blue;
        }

        &:hover {
          background-color: v.$primary-blue;
          cursor: pointer;
        }

        input {
          margin-right: 2rem;
        }
      }
    }

    .form-container-rapor {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        padding: 2rem;
        border: 1px solid v.$navbar-blue;
        border-radius: 1.5rem;

        display: block;
        padding-left: 6rem;
        text-indent: -3.5rem;

        &.active {
          background-color: v.$primary-blue;
        }

        &.correct {
          background-color: v.$primary-blue;
        }

        &.theCorrect {
          background-color: v.$primary-blue;
        }

        &.wrong {
          background-color: v.$soft-red;
        }

        .input {
          margin-right: 2rem;
        }

        .input-pembahasan {
          -webkit-appearance: none;
          background-color: #fafafa;
          background-color: v.$soft-blue;
          border: 1px solid #cacece;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          padding: 1.2rem;
          border-radius: 0.5rem;
          display: inline-block;
          position: relative;
          margin-right: 2rem;
          margin-bottom: -0.4rem;

          &.correct:after,
          &.theCorrect:after {
            content: "✔";
            font-weight: 900;
            font-size: 14px;
            margin: 0 auto;
            position: absolute;
            left: 3px;

            display: block;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }

          &.wrong:after {
            content: "❌";
            font-weight: 900;
            font-size: 14px;
            margin: 0 auto;
            position: absolute;
            left: 3px;

            display: block;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }

      .input-pembahasan {
        -webkit-appearance: none;
        background-color: #fafafa;
        background-color: v.$soft-blue;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
          inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 1rem;
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;

        // &:active,
        // &:checked:active {
        //   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        //     inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        // }

        // &:checked {
        //   //   background-color: #e9ecee;
        //   background-color: v.$soft-blue;
        //   border: 1px solid #adb8c0;
        //   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        //     inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        //     inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        //   color: #99a1a7;
        // }

        // &:checked:after {
        //   content: "✔";
        //   font-weight: 900;
        //   //   color: v.$primary-blue;
        //   color: red;
        //   font-size: 14px;
        //   margin: 0 auto;
        //   position: absolute;
        //   left: 3px;

        //   display: block;
        //   top: 50%;
        //   -webkit-transform: translateY(-50%);
        //   -moz-transform: translateY(-50%);
        //   -ms-transform: translateY(-50%);
        //   transform: translateY(-50%);
        // }
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .num-container {
      display: flex;
      gap: 1rem;

      .btn-pagination {
        padding: 1rem;
        background-color: v.$soft-blue;
        border: 1px solid v.$primary-blue;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1.6rem;
        overflow: hidden;

        &:hover {
          background-color: v.$primary-blue;
        }

        &.active {
          // border-color: red;
          border: 2px solid rgb(101, 99, 99);

          // border-color: black;
        }

        &.answered {
          background-color: v.$primary-blue;
        }

        &.correct {
          background-color: v.$primary-blue;
        }

        &.wrong {
          background-color: v.$soft-red;
        }
      }
    }

    .btn-submit {
      padding: 1rem;
      background-color: v.$navbar-blue;
      border: 1px solid v.$navbar-blue;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 1.6rem;

      &:hover {
        background-color: v.$primary-blue;
      }
    }
  }

  .filter-container {
    display: flex;
    justify-content: space-between;

    select {
      padding: 1rem;
      padding-right: 3rem;
      background-color: v.$navbar-blue;
      border: none;
      border-radius: 1rem;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
    }

    select::-ms-expand {
      display: none;
    }
  }

  .rapor-video-pembahasan {
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: underline 0.2rem;
    text-underline-offset: 1rem;
  }

  .premium-button-container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    > button {
      padding: 1rem;
      outline: none;
      border-radius: 1.2rem;
      border: none;
      background-color: v.$navbar-blue;
      align-self: flex-start;
      cursor: pointer;

      &:hover {
        background-color: v.$primary-blue;
      }
    }
  }
}
