@use "../../variabels.scss" as v;

.question-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  color: v.$primary-black;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subtes {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: v.$white;
      background-color: v.$primary-blue;
    }
  }

  .question-answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        padding: 2rem;
        border: 1px solid v.$navbar-blue;
        border-radius: 1.5rem;

        display: block;
        padding-left: 6rem;
        text-indent: -3.5rem;

        &.active {
          background-color: v.$primary-blue;
        }

        &:hover {
          background-color: v.$primary-blue;
          cursor: pointer;
        }

        input {
          margin-right: 2rem;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .num-container {
      display: flex;
      gap: 1rem;

      .btn-pagination {
        padding: 1rem;
        background-color: v.$soft-blue;
        border: 1px solid v.$primary-blue;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1.6rem;

        &:hover {
          background-color: v.$primary-blue;
        }

        &.active {
          // border-color: red;
          border: 2px solid black;
          // border-color: black;
        }

        &.answered {
          background-color: v.$primary-blue;
        }
      }
    }

    .btn-submit {
      padding: 1rem;
      background-color: v.$navbar-blue;
      border: 1px solid v.$navbar-blue;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 1.6rem;

      &:hover {
        background-color: v.$primary-blue;
      }
    }
  }
}
