@use "../../variabels.scss" as v;

.logo-in-login {
  width: 20rem;
  margin-top: 1.5rem;
  margin-left: -6.5rem;
  margin-right: -6.5rem;
}

.login-container {
  height: 100vh;
  padding: 2rem;

  background-image: linear-gradient(
      to right bottom,
      rgba(9, 42, 48, 0.803),
      rgba(5, 7, 38, 0.78)
    ),
    url("../assets/landing1.jpg");
  background-position: bottom;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  > .login-container-header {
    display: flex;
  }

  > h1 {
    font-size: 5rem;
    color: v.$primary-blue;
    margin-bottom: -6rem;
    margin-top: -8rem;
  }

  > .form-container {
    padding: 3rem;
    width: 35%;
    border-radius: 1.2rem;
    background-color: v.$transparant-blue;

    > .form-component {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      > .form-box {
        display: flex;
        align-items: center;
        gap: 100 rem;
        width: 100%;

        > label {
          font-size: 2.4rem;
          color: v.$primary-blue;
          width: 25%;
        }

        > input {
          font-size: 1.6rem;
          padding: 1.6rem;
          border-radius: 1.2rem;
          border: none;
          border: 1px solid transparent;
          width: 75%;

          &:focus {
            outline: none;
            border: 1px solid v.$primary-blue;
          }
        }
      }
    }

    .text-after-submit {
      color: #fff;
      font-size: 1.7rem;
      margin-top: 3rem;
      display: inline-block;

      .link-clear {
        text-decoration: none;
        color: aqua;
        display: inline;
        margin-left: 1rem;
        cursor: pointer;

        &:active,
        &:visited {
          text-decoration: none;
          color: aqua;
        }
      }
    }

    .btn {
      background-color: v.$primary-blue;
      padding: 1.2rem;
      border: 2px solid transparent;
      border-radius: 1.2rem;
      font-size: 1.5rem;
      cursor: pointer;
      text-align: center;
    }

    .btn:hover {
      border: 2px solid aqua;
      background-color: aqua;
    }
  }
}

.form-container.register {
  width: 40%;

  > h1 {
    margin-top: -2rem;
  }
}
