$primary-blue: #2bcbef;
$transparant-blue: #175b645f;
$navbar-blue: #aacee9;
$navbar-blue-hover: #167b92;
$primary-brown: rgb(82, 77, 77);
$primary-black: rgb(37, 36, 36);
$soft-blue: #e9f4fd;
$white: #fff;
