@charset "UTF-8";
.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  font-size: 1.8rem;
  color: rgb(37, 36, 36);
}
.question-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-container .header-container .subtes {
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #2bcbef;
}
.question-container .question-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.question-container .question-answers .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.question-container .question-answers .form-container label {
  padding: 2rem;
  border: 1px solid #aacee9;
  border-radius: 1.5rem;
  display: block;
  padding-left: 6rem;
  text-indent: -3.5rem;
}
.question-container .question-answers .form-container label.active {
  background-color: #2bcbef;
}
.question-container .question-answers .form-container label:hover {
  background-color: #2bcbef;
  cursor: pointer;
}
.question-container .question-answers .form-container label input {
  margin-right: 2rem;
}
.question-container .question-answers .form-container-rapor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.question-container .question-answers .form-container-rapor label {
  padding: 2rem;
  border: 1px solid #aacee9;
  border-radius: 1.5rem;
  display: block;
  padding-left: 6rem;
  text-indent: -3.5rem;
}
.question-container .question-answers .form-container-rapor label.active {
  background-color: #2bcbef;
}
.question-container .question-answers .form-container-rapor label.correct {
  background-color: #2bcbef;
}
.question-container .question-answers .form-container-rapor label.theCorrect {
  background-color: #2bcbef;
}
.question-container .question-answers .form-container-rapor label.wrong {
  background-color: #ff6384;
}
.question-container .question-answers .form-container-rapor label .input {
  margin-right: 2rem;
}
.question-container .question-answers .form-container-rapor label .input-pembahasan {
  -webkit-appearance: none;
  background-color: #fafafa;
  background-color: #e9f4fd;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 1.2rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  margin-bottom: -0.4rem;
}
.question-container .question-answers .form-container-rapor label .input-pembahasan.correct:after, .question-container .question-answers .form-container-rapor label .input-pembahasan.theCorrect:after {
  content: "✔";
  font-weight: 900;
  font-size: 14px;
  margin: 0 auto;
  position: absolute;
  left: 3px;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.question-container .question-answers .form-container-rapor label .input-pembahasan.wrong:after {
  content: "❌";
  font-weight: 900;
  font-size: 14px;
  margin: 0 auto;
  position: absolute;
  left: 3px;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.question-container .question-answers .form-container-rapor .input-pembahasan {
  -webkit-appearance: none;
  background-color: #fafafa;
  background-color: #e9f4fd;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
}
.question-container .pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-container .pagination-container .num-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.question-container .pagination-container .num-container .btn-pagination {
  padding: 1rem;
  background-color: #e9f4fd;
  border: 1px solid #2bcbef;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  overflow: hidden;
}
.question-container .pagination-container .num-container .btn-pagination:hover {
  background-color: #2bcbef;
}
.question-container .pagination-container .num-container .btn-pagination.active {
  border: 2px solid rgb(101, 99, 99);
}
.question-container .pagination-container .num-container .btn-pagination.answered {
  background-color: #2bcbef;
}
.question-container .pagination-container .num-container .btn-pagination.correct {
  background-color: #2bcbef;
}
.question-container .pagination-container .num-container .btn-pagination.wrong {
  background-color: #ff6384;
}
.question-container .pagination-container .btn-submit {
  padding: 1rem;
  background-color: #aacee9;
  border: 1px solid #aacee9;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}
.question-container .pagination-container .btn-submit:hover {
  background-color: #2bcbef;
}
.question-container .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.question-container .filter-container select {
  padding: 1rem;
  padding-right: 3rem;
  background-color: #aacee9;
  border: none;
  border-radius: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.question-container .filter-container select::-ms-expand {
  display: none;
}
.question-container .rapor-video-pembahasan {
  font-size: 2.2rem;
  font-weight: 500;
  -webkit-text-decoration: underline 0.2rem;
          text-decoration: underline 0.2rem;
  text-underline-offset: 1rem;
}/*# sourceMappingURL=QuestionContainer.css.map */